<div class="notify-app">
    <div class="left border-end">
        <div class="px-3 py-2 menu-bar d-flex align-items-center justify-content-between border-bottom">
            <button class="icon-button btn-menu btn"><i class="bi bi-list"></i></button>
            <h5 class="m-0">Easey Notes</h5>
            <button class="icon-button btn-new-note btn js-action-folder" data-action="controller:app__new_folder" data-action-success="helper:app__folders" data-update-target=".file-list" data-swal-title="{{ 'Create new folder' | trans }}">
                <i class="bi bi-folder-plus"></i>
            </button>
        </div>
        <div>
            <div class="search-wrapper px-3 py-2 border-bottom d-flex align-items-center gap-3">
                <button class="icon-button btn d-flex align-items-center"><i class="bi bi-search text-secondary w-100 fs-7"></i></button>
                <input type="text" class="flex-grow-1" name="seach" id="search" placeholder="{{ 'Search notes' | trans }}">
            </div>
            <div class="file-list">
                {% include "/widgets/folders.twig" %}
            </div>
        </div>
    </div>
    <main class="right">
        <div class="notify-toolbar px-3 py-2 border-bottom d-flex align-items-center justify-content-between">
            <div class="left">
                <button class="icon-button btn-menu btn"><i class="bi bi-grid-1x2"></i></button>
            </div>
            <div class="right">
                <button class="icon-button btn-menu btn"><i class="bi bi-info-circle"></i></button>
                <button class="icon-button btn-menu btn"><i class="bi bi-check-circle"></i></button>
                <button class="icon-button btn-menu btn"><i class="bi bi-sliders2"></i></button>
            </div>
        </div>
        <div class="notify-content p-5">
            <div class="message"></div>
            {% block content %}{% endblock %}
        </div>
    </main>
</div>