.notify-app {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.notify-app .left > div:last-child {
    height: calc(100vh - 49px);
}

.notify-app .left > div:last-child > div:last-child {
    height: calc(100vh - 98px);
}

.icon-button {
    padding: 0;
    width: 32px;
    height: 32px;
    font-size: 1.25rem;
    border-radius: 0.375rem;
}

.icon-button:hover {
    background-color: #d3d3d34b;
}

#search {
    outline: none;
    border: none;
    font-size: .875rem;
    background-color: transparent;
}

.folder:has(.btn:not(:hover)):hover,
.note:hover,
.note.active {
    background-color: #d3d3d34b;
}

.folder:hover small {
    color: #fff !important;
}

#btn-create-note {
    border-style: dashed !important;
}

#btn-create-note:hover {
    opacity: .6;
    color: #fff !important;
    border-color: #fff !important;
}