<div class="alert {{ data.type }} alert-dismissible fade show" role="alert">
    {{ data.message | trans }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>