<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
        <button type="button" class="app-btn-close" data-bs-dismiss="offcanvas">
            <i class="bi bi-x d-flex"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        {{ content | raw }}
    </div>
</div>